<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer pb-3">
    <div class="search-bar-inner">
      <form action="/search" method="get">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
      <div class="container p-0 mt-3 mb-0" style="display: flex; flex-direction: row;justify-content: flex-end;">
        <div">
          <a class="btn btn-outline-dark" href="./restaurants/new">新增餐廳</a>
      </div>
    </div>
  </div>
</div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">

        {{#each restaurants}}
        <div class="col-4">
          <a href="/restaurants/{{this._id}}" class="text-secondary">
            <div class="card mb-3 hover">
              <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
              <div class="card-body p-3">
                <h6 class="card-title mb-1">{{this.name}}</h6>
                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2"></i> {{this.category}}
                </div>
                <span class="badge badge-pill badge-danger font-weight-normal" style="color:#666">
                  {{this.rating}}
                  <i class="fas fa-star fa-xs"></i>
                </span>
              </div>
              <div class="card-footer d-flex justify-content-end">
                <div>
                  <a class="mx-1 btn btn-sm btn-outline-dark" href=" /restaurants/{{this._id}}/edit#">Edit</a>
                  <a class="mx-1 btn btn-sm btn-outline-dark" href=" /restaurants/{{this._id}}">Detail</a>
                  <form action="./restaurant/{{ this._id }}/delete" method="post" style="display: inline">
                    <button class="btn btn-secondary btn-sm ms-1">Delete</button>
                  </form>
                </div>
              </div>
            </div>
          </a>
        </div>
        {{/each}}

      </div>
    </div>
  </div>
</div>